body {
  background-color: #F5F5F5;
}

.country {
  stroke: #E0E0E0;
  stroke-width: 0.5px;
}

.country:hover{
  stroke: #fff !important;
  stroke-width: 1.5px !important;
}

.text{
  font-size:10px;
  text-transform:capitalize;
}

#container {
  margin:10px 10%;
  border:2px solid #000;
  height:100%;
  overflow:hidden;
  background: #151514;
}

.hidden {
  display: none;
}

div.tooltip {
  color: #222;
  background: #fff;
  padding: .5em;
  text-shadow: #f5f5f5 0 1px 0;
  border-radius: 2px;
  box-shadow: 0px 0px 2px 0px #a6a6a6;
  opacity: 0.9;
  position: absolute;
}

#titleText {
  text-align: center;
  font-family: sans-serif;
}
